{% extends "base.html" %}

{% block content %}
<div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 fw-bold gradient-text">Projects</h1>
        <p class="lead text-muted mb-5">
            A collection of personal projects showcasing my skills and expertise.
        </p>
    </div>
    
    <!-- Projects Grid -->
    <div class="row g-4">
        {% for project in projects.projects %}
        <div class="col-md-4 project-color-{{ loop.index }}">
            <div class="card h-100 project-card">
                <img src="{{ url_for('static', filename='images/projects/' + project.image) }}" 
                     class="card-img-top" alt="{{ project.title }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <div class="technologies-container">
                        {% for tech in project.technologies %}
                            <span class="badge">{{ tech }}</span>
                        {% endfor %}
                    </div>
                    {% if project.display_type == 'github' %}
                    <a href="{{ project.url }}" class="btn" target="_blank">
                        <i class="fab fa-github me-2"></i>View on Github
                    </a>
                    {% elif project.display_type == 'tableau' %}
                    <a href="{{ project.url }}" class="btn" target="_blank">
                        <svg class="tableau-icon me-2" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 60 60">
                            <path d="M28.24 38.4h4.08v-8.16h8.16v-4.08h-8.16v-8.16h-4.08v8.16h-8.16v4.08h8.16v8.16zm22.44-21.42v3.06h-6.12v6.12h-3.06v-6.12h-6.12v-3.06h6.12v-6.12h3.06v6.12h6.12zm-30.6 30.6v3.06h-6.12v6.12H10.9v-6.12H4.78v-3.06h6.12v-6.12h3.06v6.12h6.12zM56.1 2.45v7.14h-7.14V2.45h7.14zm-45.9 0h7.14v7.14h-7.14V2.45zm0 45.9h7.14v7.14h-7.14v-7.14zm45.9 0v7.14h-7.14v-7.14h7.14zM32.3 2.45h7.14v7.14H32.3V2.45zm0 45.9h7.14v7.14H32.3v-7.14zM20.06 2.45h7.14v7.14h-7.14V2.45zm0 45.9h7.14v7.14h-7.14v-7.14z"/>
                        </svg>View on Tableau
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- No Results Message -->
    <div id="noResultsMessage" style="display: none;" class="text-center mt-4">
        <p class="lead text-muted">No projects found matching your search.</p>
    </div>
</div>
{% endblock %} 